.center {
    display: block;
    margin-left: auto;
    margin-right: 0px;
    margin-top: auto;
    width: 60%;
}

#page-content {
	background: rgb(85, 121, 135);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: top;
	height: 90vh;
}
