/* L3 Harris logo for navbar */

#logo {
    margin: 5px 10px;
    width: 150px;
}

/* navbar formatting */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem;
    background-color: #333;
}

li a {
    color: white;
    text-align: center;
}

/* The right side buttons on the navbar */
.navRight {
    float: right;
}

#loginMessage,
#registerMessage {
    display: block;
    margin: 5px 0px auto 0px;
    /* position: absolute; */
    color: red;
    font-weight: bold;
    font-size: 18px;
}
