/* Main Application Styling*/
body {
	 background-color: #f4f3ef;
}

H2 {
    color: #66615B;
}

#page-content {
	padding: 0px 30px 30px;
	margin-top: 15px;
}

/* Home Page Styling*/
.card {
    border-radius:12px;
    box-shadow:0 6px 10px -4px rgba(0,0,0,.15);
    height: 100%;
}

.form-control,
.custom-select {
    box-shadow:0 6px 10px -4px rgba(0,0,0,.15);
}

.card-header {
    background-color: transparent;
    color: #252422;
}

/* Navbar Styling*/
#logo {
    margin: 5px 10px;
    width: 150px;
    height: 32px;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0.1rem;
    background-color: transparent !important;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
    z-index: 1000;
}

#loginMessage,
#registerMessage {
    display: block;
    margin: 5px 0px auto 0px;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

/* Employee Page Styling */
#employee-number {
    -webkit-appearance: textfield;
    -mox-appearance: textfield;
    appearance: textfield;
}

.DateInput,
.DateInput_1 {
    width: auto;
    padding: 0px 10px;
}

#data-container{
    flex-basis: auto;
    margin-right: 0px;
    padding-top: 10px;
}

.sidebar {
    height: 95%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 48px;
    right: 0.8%;
    background-color: gainsboro;
    overflow-x: hidden;
    transition: 0.5s;
}

.close-editor {
    font-size: 36px;
    position: fixed;
    top: 40px;
    cursor: pointer;
}

#data-container {
    transition: margin-right 0.5s;
    padding: 16px;
}

h4 {
    margin-top: 10px;
    weight: bold;
}

/* Capacity Page Styling*/
#functions-graph,
#capacity {
    border-radius:12px;
    box-shadow:0 6px 10px -4px rgba(0,0,0,.15);
}

/* Programs Page Styling*/
table, th, td
{
    border: .2px solid black;
    padding: 5px;
}